*{
    margin: 0;
    padding: 0;
}

html,body{
    background: linear-gradient(45deg,rgb(248, 248, 72), rgb(99, 99, 248), rgb(97, 202, 97));
    text-align: center;
    height: 100%;
    width: 100%;
}

.cont{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 270px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
}

.btn{
    height: 80px;
    width: 80px;
    border-radius: 1rem;
    border: none;
    box-shadow: 6px 4px 7px 3px rgb(229, 121, 121);
    font-size: xx-large;
    color: black;
    background-color: aliceblue;
}

#reset{
    background: #e72d2d;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    font-size: large;
    box-shadow: 5px 3px 5px #0e0e0e;
    border: none;
    margin: 16px;
}