*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
}

.btn1{
    font-size: xx-large;
    width: 200px;
    background: rgba(19, 19, 243, 0.92);
    color: white;
    border-radius: 16px;
    box-shadow: 9px 8px 7px burlywood;
    cursor: pointer;
}

.btn1:hover{
    transform: translatey(-8px);
    box-shadow: 18px 16px 14px burlywood;
    background: rgb(26, 255, 0);
}

.popup{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    position: fixed;
    background: rgba(0,0,0,0.5);
}

.popup-card{
    background-color: rgb(165, 222, 222);
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.btn2{
    color: black;
    background: red;
    font-size: large;
    border-radius: 16px;
    box-shadow: 9px 8px 7px burlywood;
    cursor: pointer;
    padding: 5px 15px;
}

.btn2:hover{
    transform: translatey(-4px) ;
}

.popup-card>h1{
    animation: prop 0.5s linear 0.6s infinite normal;
}

@keyframes prop{
    0%{
        color:red;
    }
    33%{
        color: rgb(47, 220, 13);
    }
    50%{
        color: #2f0eed;
    }

    75%{
        color: rgb(197, 231, 10);
    }
    100%{
        color: rgb(241, 5, 150);
    }
}

.popup.active{
    visibility: visible;
    opacity: 1;
}
