*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #170101;
}
.container{
    height: 180px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    transition: all 0.3 ease;
    box-shadow: 12px 8px 9px  #cdaad1;
}

.container h1{
    text-shadow: 6px 3px 4px rgb(183, 200, 147) ;
    font-size: 2rem;
    z-index: 2;
    color: aliceblue;
}

.container::before{
    content: '';
    position: absolute;
    width: 380px;
    height: 280px;
    border-radius: 30px;
    background: linear-gradient(#00ccff, #df00f9, rgb(39, 210, 27), yellow);
    animation: rotate 2s linear infinite;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.container::after{
    content: '';
    position: absolute;
    background-color: #0e1538;
    color: white;
    inset: 5px;
    border-radius: 30px;
    
}

.container:hover{
    transform: translatey(-10px);
    cursor: pointer;
    box-shadow: 24px 16px 18px #e7b9ec;
}